NODE_ENV=development
APPLICATION_PORT=4000
APPLICATION_URL=http://localhost:4000
ALLOWED_ORIGIN=http://localhost:3000
COOKIES_SECRET=your-strong-cookies-secret
SESSION_SECRET=your-strong-session-secret
SESSION_NAME=session
SESSION_MAX_AGE=30d
SESSION_HTTP_ONLY=false
SESSION_SECURE=false
SESSION_FOLDER=sessions
COOKIE_SECRET=your-strong-cookie-secret
POSTGRES_USER=root
POSTGRES_PASSWORD=strongPassword123
POSTGRES_HOST=db
POSTGRES_PORT=5433
POSTGRES_DB=dormitory_db
POSTGRES_URI=postgresql://root:strongPassword123@db:5432/dormitory_db
REDIS_USER=default
REDIS_PASSWORD=strongRedisPassword
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URI=redis://default:strongRedisPassword@redis:6379
RESEND_API_KEY=re_YourApiKey_XXXXXXXXXXXXXXXXXXXXX
S3_BUCKET=dormitoryfiles-bucket
S3_REGION=eu-north-1
S3_KEY=AKIAXXXXXXXXXXXXXXXX
S3_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
